* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranyekan", sans-serif;
  list-style: none;
}

:root {
  --primaryColor: #6d28d9;
  --secondaryColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #7c7c7c;
  --secondayGrey: #ccc;
  --mainRed: #db2777;
  --bodyColor: #f6f6f6;
}

body {
  color: var(--mainBlack);
  background-color: var(--bodyColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 2rem;
  color: var(--primaryColor);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
}

.form-container {
  display: flex;
  margin-bottom: 1rem;
}

.todo-container {
  width: 100%;
}

form {
  flex: 1;
  background-color: var(--mainWhite);
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--secondayGrey);
  overflow: hidden;
}

form input {
  flex: 1;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-size: 1rem;
}

form button {
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 1.2rem;
  background: none;
  border: none;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  border-radius: 0.3rem;
}

.todo {
  background-color: var(--mainWhite);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.todo .todo__title {
  color: var(--primaryColor);
  font-weight: bold;
  flex: 1;
  word-break: break-word;
}

.todo button {
  font-size: 1rem;
  padding: 0.3rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.fa-trash-alt {
  color: var(--mainRed);
}

.fa-check-square {
  color: var(--primaryColor);
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.select {
  margin-left: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  width: 10rem;
  position: relative;
  border: 2px solid var(--secondayGrey);
  font-weight: bold;
  border-radius: 0.5rem;
  overflow: hidden;
}

.select select {
  appearance: none;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.8rem;
  color: var(--primaryColor);
  background: none;
  cursor: pointer;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
  color: var(--primaryColor);
  pointer-events: none;
}

/* Responsive */
@media (max-width: 450px) {
  .container {
    padding: 0.5rem;
  }
  .todo-container {
    width: 100%;
  }
  form {
    flex-direction: column;
  }
  .select {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
  }
}
